@(users:List[models.user.AuthorisedUser])
@for(user<-users ){
<tr>

	<td>@user.userName</td>
	<td>@if(user.profile!=null&&user.profile.address!=null){@user.profile.address}</td>
	<td>@if(user.profile!=null&&user.profile.region!=null){@user.profile.region.name}</td>
	<td>@if(user.profile!=null&&user.profile.city!=null){@user.profile.city.name}</td>
	<td>@if(user.profile!=null&&user.profile.phone!=null){<a href="@user.profile.phone">@user.profile.phone</a>}</td>
	<td>@user.email</td>
	<td><a class="delete" user="@user.id"><i class="fa fa-times"></i></a></td>

</tr>
}