@(user:models.user.AuthorisedUser)
@main("Мой профиль") {

<div class="container">
<div class="col-lg-3 menudiv">
	@profile._menu()
</div>
<div class="col-lg-9 ">
	@profile._title("МОЙ ПРОФИЛЬ"){ }	
	@_show(user)
</div>

</div>

}
<script>
    url = GMaps.staticMapURL({
    size: [610, 300],
    zoom:14,
    lat: @user.location.lat,
    lng: @user.location.lng,
    markers: [
    {lat: @user.location.lat, lng: @user.location.lng},
    ]
    });

    $('<img/>').attr('src', url).appendTo('#map');
</script>