<div class="col-xs-12 boto nopaddingleft PFBSPLI-13">
  <ul class="nav nav-tabs motomoto cv" role="tablist">
    <li class="active"><a href="#breedTab" role="tab" data-toggle="tab">Добавить категорию</a></li>
    <li><a href="#regionTab" role="tab" data-toggle="tab">Добавить регион</a></li>    
    <li><a href="#cityTab" role="tab" data-toggle="tab">Добавить город</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="breedTab">
      @breed._breedTab()
    </div>
    <div class="tab-pane" id="regionTab">
	  @region._regionTab()
    </div>
    <div class="tab-pane" id="cityTab">
	  @city._cityTab()
    </div>    
  </div>
</div>