
@main("Фильтры") {

<style>
.modal-dialog{
	width: 300px;
}
[data-bb-handler="confirm"]	{
	
}
</style>

<div class="container">
<div class="col-lg-3 menudiv" >@profile._menu()</div>
<div class="col-lg-9 ">
  @profile._title("ФИЛЬТРЫ"){ }
  @_filters()
</div>

</div>
}
<script src='@routes.Assets.at("javascripts/bootbox.js")'></script>
<script>

bootbox.setDefaults({
	  
	  locale: "ru_delete",
	  show: true,
	  backdrop: true,
	  closeButton: false,
	  animate: true,
	  className: "my-modal"
	  //className: "warning"
});


$(document).on("change", ".animal.select", function(e) {
    var val = $(this).val();
    jsRoutes.controllers.Filters.getBreeds(val).ajax({
        success: function(data) {
            $("#breedList").hide();
            $("#breedList").html(data);
            $("#breedList").slideDown();
            $("#breeds").slideDown();
        },
    });
});
$(document).on("click", ".breed.add", function(e) {
    e.preventDefault();
    jsRoutes.controllers.Filters.addBreed().ajax({
        data: $("#breedForm").serialize(),
        success: function(data) {
            $("#breedList").html(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
        }
    });
});
$(document).on("click", ".breed.update", function(e) {
    e.preventDefault();
    jsRoutes.controllers.Filters.updateBreed($(this).attr("breed"), $("input[breed=" + $(this).attr("breed") + "]").val()).ajax({
        success: function(data) {
            $("#breedList").html(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
        }
    });
});
$(document).on("click", ".breed.delete", function(e) {
    e.preventDefault();
    var breed = $(this).attr("breed");    
    bootbox.confirm("Вы уверены?", function(confirm) {
    	if(confirm)
        jsRoutes.controllers.Filters.deleteBreed(breed).ajax({
            success: function(data) {
              $("#breedList").html(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              $("#breedList").html(data);
              //console.log(jqXHR.responseText);
            }
        });
    });
    $('[data-bb-handler="confirm"]').toggleClass("btn-primary btn-success")
});
</script>