
@main("") {
<div class="container">
  <div class="col-lg-3">
    @profile._menu()
  </div>
  <div class="col-lg-9 menudiv">
    _myAdsBar()
	@for(i<-1 to 3){
	  _myAd()
	}
  </div>
</div>
}

<script>
$.fn.bootstrapSwitch.Constructor = $.fn.bootstrapSwitch.defaults = {
	    state: true,
	    size: null,
	    animate: true,
	    disabled: false,
	    readonly: false,
	    indeterminate: false,
	    onColor: "success",
	    offColor: "danger",
	    onText: "Вкл",
	    offText: "Выкл",
	    labelText: "&nbsp;",
	    baseClass: "bootstrap-switch",
	    wrapperClass: "wrapper",
	    radioAllOff: false,
	    onInit: function() {},
	    onSwitchChange: function() {}
};

$(".switcher").bootstrapSwitch();
</script>