@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<ul class="aty">
	<li><h4><b>КОРОВЫ ПОРОДЫ АБЕРДИН-АНГУС</b></h4></li>
	<li><h4 class="cena">250000 тг</h4></li>
	<li><span class="glyphicon glyphicon-star-empty"></span> В избранное</li>
</ul>
<div class="col-lg-5 nopaddingleft">
	<ul class="tiginen nopaddingleft">
		<li>
			<ul class="koldenen">
				<li class="birinwi">Регион</li>
				<li>Атырау</li>
			</ul>
		</li>
		<li>
			<ul class="koldenen">
				<li class="birinwi">Порода</li>
				<li>Абердин-Ангус</li>
			</ul>
		</li>
		<li>
			<ul class="koldenen">
				<li class="birinwi">Возраст</li>
				<li>10</li>
			</ul>
		</li>
		<li>
			<ul class="koldenen">
				<li class="birinwi">Пол</li>
				<li>Самец</li>
			</ul>
		</li>
		<li>
			<ul class="koldenen">
				<li class="birinwi">Количество</li>
				<li>Косяк</li>
			</ul>
		</li>
		<li>
			<ul class="koldenen">
				<li class="birinwi">Продавец</li>
				<li>ТОО ЖАСКАЙРАТ</li>
			</ul>
		</li>
		<li>
			<ul class="koldenen">
				<li class="birinwi">Контакты</li>
				<li><ul id="ss" class="nopaddingleft"><li>+7 (701) 944 19 16</li><li>+7 (701) 944 19 16</li></ul></li>
			</ul>
		</li>
	</ul>
	<a href="#" class="btn btn-default btn-success"  data-toggle="modal" data-target="#myModal3"><span class="icon-message"></span> Отправить сообщение продавцу</a>
</div>

<div class="col-lg-7 nopaddingleft nopaddingright">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
          <img src="http://placehold.it/390x380/cccccc/ffffff">

        </div><!-- End Item -->
 
         <div class="item">
          <img src="http://placehold.it/390x380/999999/cccccc">

        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/390x380/dddddd/333333">

        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/390x380/999999/cccccc">

        </div><!-- End Item -->

                
      </div><!-- End Carousel Inner -->
 
 
    <ul class="list-group mylistgroup">
      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item"><img src="http://placehold.it/85x85/dddddd/333333"/></li>
      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><img src="http://placehold.it/85x85/dddddd/333333"/></li>
      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><img src="http://placehold.it/85x85/dddddd/333333"/></li>
      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><img src="http://placehold.it/85x85/dddddd/333333"/></li>
    </ul>
 
      <!-- Controls -->

 
    </div>
</div>

<div class="col-lg-12 ppp nopaddingleft">
<b class="bdau">Краткое Описание</b>
	<p>Абердин-ангусская порода крупного рогатого скота, мясного направления выведена в Шотландии (графства Абердин и Ангус) в XIX веке, путём совершенствования местного чёрного комолого (безрогого) скота. Скот быстро и хорошо откармливается и по округлости форм, скороспелости и качеству туш он стоит на первом месте. При скрещивании с другими породами животные хорошо передают потомству мясные качества. Животные отличаются тем, что могут содержаться на открытом воздухе, даже в самые сильные морозы.</p>
</div>
<div class="col-lg-12 nopaddingleft nopaddingright">
	<ul class="pros pros2">
		<div class="col-lg-6 nopaddingleft"><li><span class="icon-prosmotr"></span> 12 просмотров</li>
		<li><span class="icon-date"></span> 11 июля</li></div>
		<div class="col-lg-6 texal nopaddingright"><li><span class="glyphicon glyphicon-share-alt"></span> Поделиться</li>
		<li><a class="owib"><span class="glyphicon glyphicon-exclamation-sign"></span> Нашли ошибку в объявлении?</a></li></div>
	</ul>
</div>
@restrictOr(la(as("moderator"),as("admin"))){
@* //TODO check ad status to "moderating"
*@
<div class="col-lg-12  formdown topka nopaddingleft">
<button class="btn btn-success"  data-toggle="modal" data-target="#myModal44"><span class="icon-share"></span> Подтвердить</button>
<button class="btn btn-danger"><span class="icon-warning"></span> Отклонить</button>
</div>
}{
<div class="col-lg-12  formdown topka akwyl">
<h4>3 комментария</h4>
<hr>
<ul class="ko2 nopaddingleft">
<li><ul class="ko nopaddingleft">
  <li class="bold">МАГЖАН</li>
  <li>27 июн 2014 в 17:31</li>
  <li><a href="">Ответить</a></li>
  </ul>
  </li>
  <li>ноутбукке ауыстырамысын</li>
</ul>


<ul class="ko2 nopaddingleft">
<li><ul class="ko nopaddingleft">
  <li class="bold">Ербол для <span class="otvet">МАГЖАН</span></li>
  <li>27 июн 2014 в 17:41</li>
  <li><a href="">Ответить</a></li>
  </ul>
  </li>
  <li>Жок,рахмет!</li>
</ul>


<ul class="ko2 nopaddingleft">
<li><ul class="ko nopaddingleft">
  <li class="bold">Алмагул</li>
  <li>27 июн 2014 в 19:22</li>
  <li><a href="">Ответить</a></li>
  </ul>
  </li>
  <li>Болары қанша?</li>
</ul>

</div>

<div class="col-lg-12 nopaddingleft formdown topka">
<b class="bdau">Добавить комментарий</b>
</div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label leftalign">Ваше имя или ник</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label leftalign">Электронная почта</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEmail3">
      <span class="help-block"><i>На этот адрес придет уведомление об ответе</i></span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label leftalign">Сообщение</label>
    <div class="col-sm-9">
      <textarea class="form-control" rows="6"></textarea>
      <span class="help-block"><i>Ваш IP-адрес 2.566.14.99 будет сохранен вместе с комментарием</i></span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label leftalign">Введите код</label>
    <div class="col-sm-9">
      <img src='@routes.Application.captcha' class="imgmargin"><input type="text" class="form-control" id="inputEmail3">
      <span class="help-block"><i>Хотим убедиться, что вы его не забудете</i></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-success">Отправить</button>
     
    </div>
  </div>
    <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <i>Оставляя коментарий вы соглашаетесь с нашими <a href="#">правилами общения</a></i>
    </div>
  </div>
</form>


}



