@(comments:List[models.ad.Comment])
<h4 class="PFBSPLI-15">@comments.size комментарии</h4>
<hr>

@for(comment<-comments.reverse) {
    <ul class="ko2 nopaddingleft PFBSPR-11">
        <li>
        <ul class="ko nopaddingleft">
            <li class="bold ">@comment.name @if(comment.coment!=null){для <span class="otvet">@comment.coment.name</span>}</li>
            <li class="">@comment.sendDate.format("dd/MM/yyyy")</li>
            <li class=""><a comment="@comment.id" comment_type="answer" comment_author="@comment.name" class="comment_answer">Ответить</a></li>
        </ul>
        </li>
     	<li class="">@comment.text</li>
    </ul>
}
