<div class="col-lg-12 nopaddingleft nopaddingright borbot">
	<div class="col-lg-12 toptop">
		<h4>КОРОВЫ ПАРОДЫ АБЕРДИН-АНГУС</h4>
	</div>
	<div class="col-lg-2 mysuret">
		<img src="http://placehold.it/85x92/dddddd/333333">
	</div>
	<div class="col-lg-10 nopaddingleft">
		<div class="col-lg-3">
			<ul class="adsul nopaddingleft">
				<li>Цена: 120000тг</li>
				<li>Регион: Атырау</li>
			</ul>
		</div>
		<div class="col-lg-6 nopaddingleft">
			<ul class="adsul nopaddingleft">
				<li>Добавлено: 13.07.14 1:14</li>
				<li class="jasyl">Будет продлено через 28 дней и 19 часов</li>
				<li>Автопродление <input type="checkbox" class="switcher"
					name="my-checkbox" checked></li>
			</ul>
		</div>
		<div class="col-lg-3 nopaddingleft nopaddingright">
			<ul class="adsul nopaddingleft">
				<li><span class="icon-prosmotr"></span> 12
					просмотров</li>
				<li><span class="icon-message"></span>
					Сообщений нет</li>
				<li><span class="icon-comment"></span>
					Комментариев нет</li>
			</ul>
		</div>
		<div class="col-lg-12 nopaddingright toptoptop">
			<a href="#" class="btn btn-default btn-sm myb"><span
				class="icon-time"></span> Продлить (Бесплатно)</a> <a
				href="#" class="btn btn-default btn-sm myb"><span
				class="icon-vydelit"></span> Выделить объявление</a> <a
				href="#" class="btn btn-default btn-sm myb"><span
				class="icon-edit"></span> Редактировать</a> <a href="#"
				class="btn btn-default btn-sm myb"><span
				class="icon-delete"></span> В Архив</a>
		</div>
	</div>
</div>
