@(ads:List[models.ad.Ad])
@main("Мои Объявления") {
<div class="container">
  <div class="col-lg-3 menudiv">
    @profile._menu()
  </div>
  <div class="col-lg-9 ">
  	@profile._title("МОИ ОБЪЯВЛЕНИЯ"){
  	<div class="col-lg-4 tptp"><select class="form-control">
	  <option>Все (8)</option>
	  <option selected="selected">На сайте (2)</option>
	  <option>На модерции (3)</option>
	  <option>В архиве (3)</option>
	</select>
	</div>
  	}	
	@for(ad<-ads){
	  @_ad(ad)
	}
  </div>
</div>
}

<script>

    $(document ).on("click",".ad_highlight",function(){


        var ad_id = $(this ).attr("ad");
        var that = this;
         if(window.confirm("Are you sure?")==true){
        jsRoutes.controllers.Ads.highlight(ad_id).ajax({
		success: function(data) {
		if(data=="fine"){
		$('div[ad="'+ad_id+'"]' ).addClass("highlighted");
        $(that ).addClass("active");
        $(that).prop("disabled",true);
        $(that).html('<span class="icon-vydelit"></span> Выделено');
        }else{alert("not enough money");}
		}
		});
		}
        
    })
    
    $(document ).on("click",".ad_prelong",function(){


        var ad_id = $(this ).attr("ad");
        var that = this;
        if(window.confirm("Are you sure?")==true){
        jsRoutes.controllers.Ads.preLong(ad_id).ajax({
		success: function(data) {
		if(data=="fine"){
        	$(that).prop("disabled",true);
        	$(that).html('<span class="icon-time"></span> Продлино');
        }else{alert("not enough money");}
		}
		});
		}
        
    })
    
     $(document ).on("click",".ad_archive",function(){
     
     if(window.confirm("Are you sure?")==false){
     return false;
     }
     
     })

$.fn.bootstrapSwitch.Constructor = $.fn.bootstrapSwitch.defaults = {
	    state: true,
	    size: null,
	    animate: true,
	    disabled: false,
	    readonly: false,
	    indeterminate: false,
	    onColor: "success",
	    offColor: "danger",
	    onText: "Вкл",
	    offText: "Выкл",
	    labelText: "&nbsp;",
	    baseClass: "bootstrap-switch",
	    wrapperClass: "wrapper",
	    radioAllOff: false,
	    onInit: function() {},
	    onSwitchChange: function() {}
};

$(".switcher").bootstrapSwitch();

</script>