@(ad : models.ad.Ad)
@_main(ad.contactInfo.company){
<table>
	<tr>
		<td style="padding-bottom:20px;">Ваш адрес электронный почты был указан при подаче объвления на сайте <a style="text-decoration: none;" href="kora.kz">«Kora.kz»</a></td>
	</tr>
	<tr>
		<td style=" border-top-style: dashed; border-bottom-style: dashed; border-width: 1px; padding: 5px 0 5px 0;">
		@if(ad.status.equals("active")){
			Ваше объявление <a style="text-decoration: none;" href="@routes.Ads.get(ad.id).absoluteURL(request())">"@utils._adName(ad).toString.trim"</a> прошло проверку и размещено на сайте @ad.updatedDate.format("dd/MM/YYYY HH:mm ").
			<br><br>
			Объявление будет автомотически удалено через две недели, если Вы его не продлите.
		}
		@if(ad.status.equals("rejected")){
			<p>Ваше объявление <a style="text-decoration: none;" href="@routes.Ads.edit(ad.id).absoluteURL(request())">"@utils._adName(ad).toString.trim"</a> не соотвествует правилам сайта и не прошло проверку, пожалуйста убедитесь правильности вашего объявления.</p>			
		}
		</td>
	</tr>
	<tr>
		<td style="padding-top:20px">Если вы еще не зарегистрированы на нашем сайте, можете создать свой <a href="kora.kz" style="text-decoration: none;">личный кабинет</a>. Преимущество личного кабинета в том, что вы сможете управлять вашими объявлениями (добавить фото, изменить текст, продлит срок объявление и т.п.).</td>
	</tr>
</table>
}
