@(user : models.user.AuthorisedUser)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Kora.kz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>	  
<body style="font-family: Helvetica,san serif;">
<table border="0" style="width:700px">
	<tr>
		<td><b>Здравствуйте! LTD technovision</b></td>
	</tr>
	<tr>
		<td><b>Ваш адрес электронный почты был указан при подаче объвления на сайте <a href="#">"Kora.kz"</a> </b></td>
	</tr>
	<tr>
		<td>
			<br>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0" style="width:100%">
			<tr>
				<td style="width: 60px;height: 70px;"><img src="@routes.Assets.at("images/home/2.png")" style="width:60px" /></td>
				<td>Ваша объявление #наименование_объявления прошло проверку и размещено на сайте #дата_время.
					Объявление будет автомотически удалено через две недели, если Вы его не продлите. 
				</td>
			</tr>
			</table>	
		</td>
	</tr>
	<tr>
		<td>
			<br><br>
		</td>
	</tr>
	<tr style="background-color: #ecfee2;">
		<td>
			<i>Если вы не зарегистрированы на сайте <a href="#">"Kora.kz"</a> можете создать свой <a href="#">личный кабинет.</a>
			Это займет немного времени. Преимущество личного кабинетав том,что вы сможете управлять вашими объявлениями (добавит фото, изменит текст, продлит срок объявленияи и т.п.п)</i>
		</td>
	</tr>
	<tr style="background-color: #f7f7f7;">
		<td>
			<table border="0" style="width:100%">
				<tr>
					<td>Возникли вопросы?<br><br><a href="#">Напишите</a> в службу поддержки</td>
					<td style="width: 120px;"><img src="@routes.Assets.at("images/home/black_small_logo.png")"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</head>
</html>