@(username:String,author:String,message_text:String, messge_type:String)
@_main(username:String){
<table>
	@if(messge_type=="replay") {
		<tr>
			<td>
				На ваше сообщение ответили, Вы можете увидеть сообщение в личном кабинете в <a style="text-decoration: none;" href="kora.kz">«Kora.kz»</a>.
			</td>
		</tr>
	}
	@if(messge_type=="registred"){
		<tr>
			<td>
				Вам отправили личное сообщение, Вы можете увидеть сообщение в личном кабинете по <a href="@routes.Manage.myMessages().absoluteURL(request())">ссылке</a>
			</td>
		</tr>
	}
	@if(messge_type=="not_registred"){
		<tr>
			<td style="padding-bottom:20px;">Вам отправили личное сообщение:</td>
		</tr>
		<tr>
		<td style=" border-top-style: dashed; border-bottom-style: dashed; border-width: 1px; padding: 5px 0 5px 0;">
			<b>@author</b>
			<br>
				<span style="padding-left:40px;">@message_text</span>
		</td>
		</tr>
	}
	<tr>
		<td style="padding-top:20px">Если вы еще не зарегистрированы на нашем сайте, можете создать свой <a href="kora.kz" style="text-decoration: none;">личный кабинет</a>. Преимущество личного кабинета в том, что вы сможете управлять вашими объявлениями (добавить фото, изменить текст, продлит срок объявление и т.п.).</td>
	</tr>
</table>
}



