@(user : models.user.AuthorisedUser,messge_type:String)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Kora.kz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>	  
	<body>
		<table cellpadding="0" cellspacing="0" width="100%">
		  <tr>
		    <td valign="top" width="260">
		      <table cellpadding="0" cellspacing="0" width="100%">
		        <tr>
		          <td align="center" style='padding: 40px 0 30px 0'>
		           <img src='http://95.57.119.96:9000/assets/images/home/logo.png' style='display: block;' >
		          </td>
		        </tr>
		
		        <tr>
		          <td style="padding-left: 40px;">
                      @if(messge_type=="replay") {
                          <p>Na vashe soobshenie otveteli</p>
                          <p>vy mojete uvidet soobshenie kora.kz!!!</p>
                          <p></p>
                      }
                      @if(messge_type=="registred"){
                          <p>vam otpravili lichnoe soobshenie</p>
                          <p>vy mojete uvidet soobshenie v kora.kz!!!</p>
                          <p></p>
                      }
                      @if(messge_type=="not_registred"){
                          <p>vam otpravili lichnoe soobshenie</p>
                          <p>vy ne zaregistrirovaniy!!!</p>
                          <p></p>
                      }
		          </td>
		        </tr>
		      </table>
		    </td>
		</tr>
		<tr>
		    <td valign="top" width="260">
		      <table cellpadding="0" cellspacing="0" width="100%">
		        <tr>
		          <td style="padding-left: 40px;">
		            <p>© 2014 "Қора.kz"</p>
		          </td>
		        </tr>
		      </table>
		    </td>
		  </tr>
		</table>
	</body>
</head>
</html>