@(user : models.user.AuthorisedUser)

@_main(user.userName){
<table>
	<tr>
		<td style="padding-bottom:20px;">Вы захотели изменить пароль Вашего личного кабинета на сайте <a style="text-decoration: none;" href="kora.kz">«Kora.kz»</a></td>
	</tr>
	<tr>
		<td style=" border-top-style: dashed; border-bottom-style: dashed; border-width: 1px; padding: 5px 0 5px 0;">
		Для этого достаточно кликнуть по ссылке
		<br>
		<a style="text-decoration: none;" target="_blank" href="@routes.User.restorePassword(play.libs.Crypto.encryptAES(user.email)).absoluteURL(request())">
		@routes.User.restorePassword(play.libs.Crypto.encryptAES(user.email)).absoluteURL(request())
		</a>
		<br>
		(если не получается — скопируйте ссылку в адресную строку браузера и перейдите по ней).
		<br>
		На открывшейся странице укажите Ваш новый пароль.
		</td>
	</tr>
	<tr>
		<td style="padding-top:20px">
		Ссылка действует в течение 2 часов. Не успели? Просто запросите ее еще раз.
		<br>		 
		Вы и не думали менять пароль? Просто удалите это письмо, не переходя по ссылке, – он останется прежним.
		</td>
	</tr>
	
</table>
}