@(user : models.user.AuthorisedUser)
@_main(user.userName){
<table>
	<tr>
		<td style="padding-bottom:20px;">Вы успешно зарегистрировались на сайте <a style="text-decoration: none;" href="kora.kz">«Kora.kz»</a></td>
	</tr>
	<tr>
		<td style=" border-top-style: dashed; border-bottom-style: dashed; border-width: 1px; padding: 5px 0 5px 0;">
		Чтобы активировать ваш личный кабинет, пожалуйста, подтвердите вашу регистрацию по <a style="text-decoration: none;" target="_blank" href="@routes.User.restorePassword(play.libs.Crypto.encryptAES(user.email)).absoluteURL(request())">
		ссылкe
		</a>.
		<br>
		
		<br>
		<br>
		Или скопируйте <a style="text-decoration: none;" target="_blank" href="@routes.User.restorePassword(play.libs.Crypto.encryptAES(user.email)).absoluteURL(request())">
		@routes.User.restorePassword(play.libs.Crypto.encryptAES(user.email)).absoluteURL(request())
		</a> на адресную строку браузера.
		<br>
		После этого вы сможете пользоваться личным кабинетом для управления Вашими объявлениями
		</td>
	</tr>
	<tr>
		<td style="padding-top:20px">
		Спасибо за регистрацию на нашем сайте.
		<br>		 
		Если вы передумали создавать свой личный кабинет (или кто-то по ошибке указал Ваш e-mail) – не кликайте по указанной ссылка. Ваша регистрация удалится автоматически через неделю.
		</td>
	</tr>
	
</table>
}
