<form class="form-horizontal">
  <fieldset>
    <!-- Form Name -->
    <div class="form-group">
      <div class="col-md-3"><input class="form-control" id="inputEmail3" placeholder="Компания" type="text"></div>
      <div class="col-md-3 nopaddingleft">
        <select class="form-control" id="selectbasic" name="selectbasic">
          <option selected disabled hidden> Место на сайте</option>
          <option value="1">Home Page</option>
          <option value="2">Right Sidebar</option>
        </select>
      </div>
      
      <div class="col-md-3 nopaddingleft nopaddingright">
        <div class="fileUpload btn btn-default"><span class="glyphicon glyphicon-folder-open"></span> 
          <input class="upload" id="filebutton" type="file" accept=".jpg,.png,.flv">
        </div>
        
        <span class="fnt10">jpg,png,flv(240x400)</span>         
      </div>
      <div class="col-md-2 nopaddingleft nopaddingright">
        <button class="btn btn-success" id="singlebutton" name="singlebutton">Добавить</button>
      </div>
    </div>
  </fieldset>
</form>