	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
			<div class="form-group">
				<div class="col-md-3">
					<input type="text" class="form-control" id="inputEmail3"
						placeholder="Компания">
				</div>
				<div class="col-md-3 nopaddingleft">
					<select id="selectbasic" name="selectbasic" class="form-control">
						<option value="1">Home Page</option>
						<option value="2">Right Sidebar</option>
					</select>
				</div>

				<div class="col-md-2 nopaddingleft ">
					<select id="selectbasic" name="selectbasic" class="form-control">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="2">3</option>
						<option value="2">4</option>
						<option value="2">5</option>
						<option value="2">6</option>
						<option value="2">7</option>
					</select>
				</div>
				<div class="col-md-4 nopaddingleft nopaddingright">
					<div class="fileUpload btn btn-default">
						<span class="glyphicon glyphicon-folder-open"></span> <input
							type="file" id="filebutton" class="upload" />
					</div>
					<span class="fnt10">jpg,png,flv(240x400)</span>
					<button id="singlebutton" name="singlebutton"
						class="btn btn-success">Добавить</button>
				</div>

			</div>

		</fieldset>
	</form>