
@main("Рекламы") {
<style>
.modal-dialog{
	width: 300px;
}
[data-bb-handler="confirm"]	{
	
}
.order:hover{
	color:#5b752c;
}
.bootbox-input-text{
 z-index: 100000; !important;
 }
</style>
<div class="container">
  <div class="col-lg-3 menudiv">@profile._menu()</div>
  <div class="col-lg-9 ">
    @profile._title("РЕКЛАМЫ"){ }  
    @_advertisementDiv()
  </div>
</div>
}

<div style="display:none" id="extendDate">
 <input type="text" name="extend" class="datepicker" />
</div>

<script src='@routes.Assets.at("javascripts/bootbox.js")'></script>
<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script>
$('.input-daterange').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    language: "ru",
    autoclose: true,
    todayHighlight: true
});

bootbox.setDefaults({
	  
	  locale: "ru_delete",
	  show: true,
	  backdrop: true,
	  closeButton: false,
	  animate: true,
	  className: "my-modal"
	  //className: "warning"
});

$(document).ready(function(){
	$('.advertisementFile').popover({html:true});
	$('.advertisementFile').tooltip({title:"Показать",placement:'bottom'});
	$('.extend').tooltip({title:"Продлить",placement:'bottom'});
	$('.archive').tooltip({title:"Удалить",placement:'bottom'});
});

$(document).ajaxSuccess(function() {
	$('.advertisementFile').popover({html:true});
	$('.advertisementFile').tooltip({title:"Показать",placement:'bottom'});
	$('.extend').tooltip({title:"Продлить",placement:'bottom'});
	$('.archive').tooltip({title:"Удалить",placement:'bottom'});

	setTimeout(function() {
		$(".alert-dismissable").fadeTo(500, 0).slideUp(500, function(){
			$(this).remove();
		});
	}, 1500);
});
$(document).on("click",".updateEndDate",function(e){
	e.preventDefault();
	$('.extend').popover("hide");	
	var advert = $(this).attr("advert");
	var tillTo = $(this).closest("div.input-group").find("input").val() 
	jsRoutes.controllers.Advertisements.expand(advert).ajax({
		data: {tillToDate:tillTo},
		success:function(data){
			$("#advertisementTable").html(data);
		}
	});
});


$(document).on("click",".extend",function(e){
	e.preventDefault();
	var tillTo = $(this).attr("tillToDate");
	var advert = $(this).attr("advert");
	var tmp = $.fn.popover.Constructor.prototype.show;
	$.fn.popover.Constructor.prototype.show = function () {
	  tmp.call(this);
	  if (this.options.callback) {
	    this.options.callback();
	  }
	}

	$(".extend").popover({ 
		placement: 'right',
		content:
			'<div class="input-group">'+ 
			'<input class="form-control tillTo" style="width: 100px;" type="text" name="tillToDate" />'+
			'<span class="input-group-btn">'+
			'<button class="btn btn-default nobord updateEndDate" advert="'+advert+'"><span class="glyphicon glyphicon-ok"></span></button>'+
			'</span>'+
			'</div>'
		,
		html: true, 
		callback: function() { 
			$('.tillTo').datepicker({
			    format: "dd/mm/yyyy",
			    weekStart: 1,
			    language: "ru",
			    autoclose: true,
			    //todayHighlight: true,
			   
			});
			$('.tillTo').datepicker("update",tillTo);
		} 
	}).click(function (e) {
		e.preventDefault();
	});
	//$(".extend").popover("toggle");
	
});

$(document).on("click","#advertisementAdd",function(e){
	e.preventDefault();
	var formData = new FormData($("#advertisementForm")[0]);
	jsRoutes.controllers.Advertisements.add().ajax({
		data: formData,
	    cache: false,
	    contentType: false,
	    processData: false,
		success:function(data){
			$("#advertisementTable").html(data);
		}
	});	
});

$(document).on("click",".archive",function(e){
	e.preventDefault();
	var advertisement = $(this).attr("advertisement");
	bootbox.confirm("Вы уверены?", function(confirm) {
		if(confirm)
			jsRoutes.controllers.Advertisements.remove(advertisement).ajax({
				success:function(data){
					$("#advertisementTable").html(data);
				}
			});
	});
	$('[data-bb-handler="confirm"]').toggleClass("btn-primary btn-success")
});

$(document).on("click",".up",function() {
	$("tr").removeClass("info");
    var row = $(this).closest('tr');
    if(!row.is(':first-child')){
        row.prev().insertAfter(row);
        row.addClass("info");
        setTimeout(function(){row.removeClass("info");}, 5000);
        var advertisement = $(this).attr("advertisement");
        jsRoutes.controllers.Advertisements.replace(advertisement,"up").ajax({
        	success:function(data){
				//$("#advertisementTable").html(data);
			}
        });
    }
    	
});
$(document).on("click",".down",function() {
	$("tr").removeClass("info");
    var row = $(this).closest('tr');
    if(!row.is(':last-child')){
    	row.next().insertBefore(row);
    	row.addClass("info");
    	setTimeout(function(){row.removeClass("info");}, 5000);
    	var advertisement = $(this).attr("advertisement");
        jsRoutes.controllers.Advertisements.replace(advertisement,"down").ajax({
        	success:function(data){
				//$("#advertisementTable").html(data);
			}
        });
    }
});
</script>