<table class="table table-hover">
<thead>
	<tr>
		<td>id</td>
		<td>Компания</td>
		<td>Животное</td>
		<td>Количество</td>
		<td>Возраст</td>
		<td>Цена</td>
		<td>Регион</td>
	</tr>
</thead>
<tbody>
	<tr>
		<td>1</td>
		<td>Жаскайрат ТОО</td>
		<td>Корова</td>
		<td>1</td>
		<td>2</td>
		<td>200 000тг</td>
		<td>Алматы</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Жаскайрат ТОО</td>
		<td>Лошадь</td>
		<td>12</td>
		<td>2</td>
		<td>180 000тг</td>
		<td>Астана</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Жаскайрат ТОО</td>
		<td>Корова</td>
		<td>1</td>
		<td>1</td>
		<td>170 000тг</td>
		<td>Тараз</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Жаскайрат ТОО</td>
		<td>Верблюд</td>
		<td>1</td>
		<td>3</td>
		<td>290 000тг</td>
		<td>Алматы</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Жаскайрат ТОО</td>
		<td>Корова</td>
		<td>2</td>
		<td>2</td>
		<td>150 000тг</td>
		<td>Актобе</td>
	</tr>
</tbody>
</table>