<ul class="proful nopaddingleft">
<li>
<img src="assets/images/home/huge.jpg" class="imgprofile">
</li>
<li>
<div class="popover-example"> <!-- NEW -->
  <div class="popover right">
    <div class="arrow"></div>
    <h3 class="popover-title">Rysdaulet Abilkairov</h3>
  </div>
</div>
</li>
</ul>
<ul class="profmenu nopaddingleft">
	<li><a href="@routes.Application.adminPage"><span class="glyphicon glyphicon-list-alt"></span> Все объявления</a></li>
	<li><a href="@routes.Application.users"><span class="glyphicon glyphicon-align-left"></span> Все пользователи</a></li>
	<li><a href="@routes.Application.adminMessage"><span class="glyphicon glyphicon-envelope"></span> Личные сообщения <span class="backjasyl">3</span></a></li>
	<li><a href="@routes.Application.addFilter"><span class="glyphicon glyphicon-plus"></span> Добавить фильтры</a></li>
	<li><a href="@routes.Application.addReklam"><span class="glyphicon glyphicon-plus"></span> Добавить рекламы</a></li>
	<li><a href="@routes.Application.adminProfile"><span class="glyphicon glyphicon-user"></span> Мой профиль</a></li>

	<li><span class="glyphicon glyphicon-off"></span> Выйти</li>
</ul>