<div class="col-lg-12 nopaddingleft boto">
<ul class="ko2 padleft10">
<li><img src="assets/images/images.jpg"></li>
</ul>
<ul class="ko4 padleft10">
<li><h4>Ибрагим Тунджер</h4></li>
<li><ul class="ko5 nopaddingleft"><li class="bold">Эл-почта:</li><li>kairat75gmail.com</li></ul></li>
<li><ul class="ko5 nopaddingleft"><li class="bold">Телефон:</li><li>87024779635</li></ul></li>
<li><ul class="ko5 nopaddingleft"><li class="bold">Адрес:</li><li>Алматы, микр-4 55</li></ul></li>

</ul>
<ul class="ko2 padleft10">
<li>01.08.2012</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
</ul>
<b>ответить <span class="glyphicon glyphicon-share-alt topka10"></span></b>
<textarea class="form-control " rows="5"></textarea>
<button class="btn btn-primary topka10">Отправить</button>
</div>
