<table class="table table-hover">
<thead>
	<tr>
		<td>id</td>
		<td>Компания</td>
		<td>Адрес</td>
		<td>Регион</td>
		<td>Телефон</td>
		<td>Почта</td>

	</tr>
</thead>
<tbody>
	<tr>
		<td>1</td>
		<td>Жаскайрат ТОО</td>
		<td>микр 4</td>
		<td>Алматы</td>
		<td>87078884455</td>
		<td>ddddd</td>

	</tr>
	<tr>
		<td>2</td>
		<td>Жаскайрат ТОО</td>
		<td>микр 4</td>
		<td>Астана</td>
		<td>87774125779</td>
		<td>ddddd</td>

	</tr>
	<tr>
		<td>3</td>
		<td>Жаскайрат ТОО</td>
		<td>микр 4</td>
		<td>Орал</td>
		<td>87054448965</td>
		<td>dddddd</td>

	</tr>

</tbody>
</table>