<div class="col-lg-12 boto">

<ul class="lab4 nopaddingleft">
  <li>
    <ul class="lab3">
      <li class="lab">Компания</li>
      <li class="lab2">ТОО Жаскайрат</li>
    </ul>
  </li>
  @*
  <li>
    <ul class="lab3">
      <li class="lab">Фотографии</li>
      <li class="lab2"><img src="assets/images/home/cow.PNG"></li>
    </ul>
  </li>
  *@
  <li>
    <ul class="lab3">
      <li class="lab">Адрес</li>
      <li class="lab2">Микр-4 71</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Регион</li>
      <li class="lab2">Алматы</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Пол</li>
      <li class="lab2">муж</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Описание</li>
      <li class="lab2">авы авыавыа выа ывав ыавы авыа выа выаы аыв аыва ыва ыва а</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Телефон</li>
      <li class="lab2">87078889966</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Вконтакте</li>
      <li class="lab2">kairat</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Facebook</li>
      <li class="lab2"></li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Skype</li>
      <li class="lab2">kairat77</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Сайт</li>
      <li class="lab2">jaskairat.kz</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Карта</li>
      <li class="lab2"><a id="firmsonmap_biglink" href="http://maps.2gis.ru/#/?history=project/almaty/center/76.857494705499,43.226979900591/zoom/18/state/widget/id/9429940001569726/firms/9429940001569726">Перейти к большой карте</a>
<script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
<script charset="utf-8" type="text/javascript">new DGWidgetLoader({"borderColor":"#a3a3a3","width":"700","height":"400","wid":"19616ecba202f38abf048207f7037b23","pos":{"lon":"76.857494705499","lat":"43.226979900591","zoom":"18"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings"],"city":"almaty"},"org":[{"id":"9429940001569726"}]});</script>
<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript></li>
    </ul>
  </li>
  <li>
  <ul><li><a href="@routes.Application.myProfileEdit" class="btn btn-default btn-primary">Редактировать</a></li>
  </ul></li>
</ul>




    

</div>