<div class="col-lg-4 suret">
	<img src="@routes.Assets.at("images/home/cow.png")">
</div>
<div class="col-lg-8">
<ul class="obya">
	<li><a href="@routes.Ads.get"><b>Телки Абердин-Ангусской породы</b></a> <span class="baga">250 000 тг</span></li>
	<li>Абердин-Ангусская порода крупного рогатого ската одна из...</li>
	<li>ТОО Жаскайрат | Атырау</li>
	<li>Тел: +7 (71 238) 25 0 30, 25 2 82</li>
</ul>
<ul class="pros">
	<li><span class="glyphicon glyphicon-eye-open"></span> 12 просмотров</li>
	<li><span class="glyphicon glyphicon-comment"></span> Комментариев нет</li>
	<li><span class="glyphicon glyphicon-calendar"></span> 11 июля</li>
</ul>
</div>