@(ad: models.ad.Ad)

<div class="col-lg-4 suret">
    <div class="newesuret"><span>5</span></div>
    @if(ad.images.size()>0){
        <img src="@models.ad.AdImage.getFirstPicture(ad.id)" style="width:230px;height:157px">
    }else{<img src="@routes.Assets.at("images/home/cow.png")">}
</div>
<div class="col-lg-8">
    <ul class="obya">
        <li><a href="@routes.Ads.get(ad.id)"><b>@ad.animal.name @if(ad.animal.id!=5){ @ad.breed.name}</b></a> <span class="baga">@Messages(ad.priceType.price.toString) @ad.priceType.currency</span></li>
        <li>@ad.description</li>
        <li>@ad.contactInfo.company | @ad.contactInfo.region.name</li>
        <li>Тел: @ad.contactInfo.phone</li>
    </ul>
    <ul class="pros">
        <li><span class="icon-prosmotr"></span> @ad.views просмотров</li>
        <li><span class="icon-comment"></span> @if(ad.comments.size()==0){Комментариев нет} else{ @ad.comments.size() комментариев}</li>
        <li><span class="icon-date"></span> @ad.publishedDate.format("dd/MM/yyyy")</li>
    </ul>
</div>

