@(ads:List[models.ad.Ad], picture:Int,map:String)
<div id="search_results" class="col-lg-9 pro3 nopaddingright">
	</div>
<div id="byDateDiv">
    @if(ads!=null) {
        @for(ad <- ads.sortBy(_.publishedDate).reverse) {
            @if(ad.images.size()!=picture && ad.contactInfo.location.lat!=map) {
                <div class="col-lg-12  pro1 @if(models.ad.Ad.settingByName(ad, "highlight") != null) {highlighted }">@_ad(ad)</div>
            }
        }
    }
</div>

<div id="byLowPriceDiv">
@if(ads!=null) {
    @for(ad <- ads.sortBy(_.priceType.price)) {
        @if(ad.images.size()!=picture && ad.contactInfo.location.lat!=map) {
            <div class="col-lg-12  pro1 @if(models.ad.Ad.settingByName(ad, "highlight") != null) {highlighted }">@_ad(ad)</div>
        }
    }
}
</div>

<div id="byHighPriceDiv">
@if(ads!=null) {
    @for(ad <- ads.sortBy(_.priceType.price).reverse) {
        @if(ad.images.size()!=picture && ad.contactInfo.location.lat!=map) {
            <div class="col-lg-12  pro1 @if(models.ad.Ad.settingByName(ad, "highlight") != null) {highlighted }">@_ad(ad)</div>
        }
    }
}
</div>