@(region:models.contact.Region)

		<div class="input-group-btn bs-dropdown-to-select-group">
			<button type="button" class="btn btn-default dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown" tabindex="-1" style='width: 210px;background: url(@routes.Assets.at("images/home/arrow.png")) no-repeat right #fff;padding-top: 2px;  padding-bottom: 2px;    border-radius: 4px;text-align: left;padding-left: 4px;background-size: 20px;'>
				<span  id="city-span" data-bind="bs-drp-sel-label">Все города/ауылы</span>
				<input  type="hidden" data-bind="bs-drp-sel-value" value="all" >
				<input  type="hidden" name="city" value="all" >
			</button>
			<ul class="dropdown-menu" role="menu" style="overflow-x: hidden; overflow-y: auto !important; max-height: 310px; min-width: 210px;margin: 0px;border-radius: 0px;overflow-y: hidden;padding-top: 2px;">
				<li class="li-option cities" city-id="all" data-value="Все города/ауылы"><a href="#"><span>Все города/ауылы</span></a></li>
				@if(region!=null){
				@for(c<-region.findCities if(c.parentCity==null)){
				@if(c.isParent){
				<li class="li-option cities" city-id="@c.id" data-value="@c.name"><a href="#"><span class="optionGroup">@c.name</span></a></li>
				@for((subcity,index) <- c.findSubCitites.zipWithIndex){
				<li class="li-option cities" city-id="@subcity.id" data-value="@subcity.name"><a href="#"><span class="optionChild">@subcity.name</span></a></li>				
				}
				}else{
				<li class="li-option cities" city-id="@c.id" data-value="@c.name"><a href="#"><span class="">@c.name</span></a></li>
				}}}
			</ul>
		</div> 
