@(section:models.ad.Section,cat:models.ad.Category,region:models.contact.Region,city:models.contact.City)
<div class="col-xs-12 nopaddingleft PFBSPLI-13">
<form id="search_form" class="form-inline">
    <input id="section" type="hidden" name="section" value="@section.id" showName="@section.name">
<div id="demo2" >
 <div class="form-group frmg">
 <div class="frmbck frmbck3">
  <label class="control-label" for="selectbasic1">Регион:</label>
  <div>
    <select id="region" name="region" class="form-control sd" style="width: 170px;">
      <option value="all">Во всех регионах</option>
      @for(reg <-models.contact.Region.find.all()) {
          <option value="@reg.id" @if(reg==region){selected}>@reg.name</option>
      }

    </select>
  </div>
  </div>
</div>
 <div class="form-group frmg">
  <div class="frmbck">
  <label class="control-label" for="selectbasic1">Категория:</label>
  <div id="category_div">
    <select id="category" name="category" class="form-control sd" style="width: 170px;">
	    <option selected disabled hidden> Выберите категорию</option>
	    @if(section.categories!=null){
		    @for(category<-section.categories if(category.parentCategory==null)){
		    	@if(category.isParent){
		    		<option value="@category.id" class="optionGroup">@category.name</option>
		    		@for(subcategory <- category.findSubCategories){
		    		<option value="@subcategory.id" class="optionChild" @if(cat==subcategory){selected}>— @subcategory.name</option>
		    		}		    	
		    	}else{
		    	<option value="@category.id" @if(cat==category){selected}>@category.name</option>
		    	}		
		    }
	    }
    </select>
  </div>
</div>
</div>
 <div class="form-group frmg">
   <div class="frmbck">
  <label class="control-label" for="selectbasic1">Возраст:</label>
  <div>
    <select id="ageStart" name="ageStart" class="form-control sd" style="width: 80px;">
        <option value="0"></option>
	    @for(i<-java.util.Calendar.getInstance().get(java.util.Calendar.YEAR)-15 to java.util.Calendar.getInstance().get(java.util.Calendar.YEAR)) {
        <option value="@i">@i</option>
    	}
    </select>
        <select id="ageEnd" name="ageEnd" class="form-control sd" style="width: 80px;">
            <option value="2050"></option>
        @for(i<-2000 to 2050) {
            <option value="@i">@i</option>
        }
    </select>
  </div>
</div>
</div>

 <div class="form-group frmg">
   <div class="frmbck">
  <label class="control-label" for="selectbasic1">Цена:</label>
  <div>
     <input id="costStart" name="costStart" type="text" placeholder="" class="form-control input-md inputsmall ssss"> -
      <input id="costEnd" name="costEnd" type="text" placeholder="" class="form-control input-md inputsmall ssss">
          
      <select id="currency" name="currency" class="form-control sd tenge" style="width: 66px;">
        <option value="KZT">a</option>
        <option value="USD">$</option>
      </select>
  </div>
  </div>
</div>
<div class="form-group">
   <div class="frmbck2">
  <label class="control-label" for="selectbasic1"></label>

        <button id="search_filter" class="btn buttongray" style="margin-bottom: 8px;"><span class="btr">Поиск</span></button>
</div>
</div>
</div>
<div class="col-xs-12 nopaddingleft nopaddingright">

<div id="demo"> 
<div class="form-group frmg">
  <div class="frmbck">
  <label class="control-label" for="selectbasic1">Город/Ауыл:</label>
  <div id="city_div">
    
  </div>
</div>
</div>
<div class="form-group">
  <div class="col-xs-8 nopaddingleft">
      <input type="hidden" id="gender" name="gender">
  <div class="checkbox">
    <label for="checkboxes-0">
      <input type="checkbox"  id="checkboxes-0"  class="gender_check" value="male" notVal="female">
      Самец
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-1">
      <input type="checkbox"  class="gender_check" id="checkboxes-1" value="female" notVal="male">
      Самка
    </label>
	</div>
  </div>  
</div>
<div class="form-group">
  <div class="col-xs-8 nopaddingleft">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="quantity" id="radios-0" value="single">
      Один
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="quantity" id="radios-1" value="many">
      Косяк
    </label>
	</div>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-8 nopaddingleft">
  <div class="checkbox">
    <label for="checkboxes-2">
      <input type="checkbox" name="picture" id="checkboxes-2" value="1">
      Только с фото
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-3">
      <input type="checkbox" name="map" id="checkboxes-3" value="1">
      Отмеченные на карте
    </label>
	</div>
  </div>  
</div>
<div class="form-group">
  <div class="col-xs-8 nopaddingleft">
  <div class="checkbox">
    <label for="checkboxes-4">
      <input type="checkbox" class="price_type" name="change" id="checkboxes-4" value="1">
      На обмен
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-5">
      <input type="checkbox" class="price_type" name="negotiable_price" id="checkboxes-5" value="1">
      Договорная цена
    </label>
	</div>
  </div>  
</div>

<div class="form-group">
  <div class="col-xs-12 nopaddingleft">

     <input id="textinput" name="searchText" type="text" placeholder="Поиск по тексту" class="form-control input-md ssss">
  </div>  
</div>
</div>


<p class="text-center curs" id="poi">
  <span>Расширенный поиск</span>
</p>

</div>
</form>
</div>
