@(ads:List[models.ad.Ad])

@main("Поиск") {

<div class="container">
	<div class="searchbarmargin">@_searchbar()</div>
	@main_filters()
	<div id="search_by_animal">@_filters()</div>
	<div class="col-lg-12 borderbottom">
		<h3>Коровы Абердин-Ангус в Казахстане</h3>
		<hr class="hrcolor">
		<ul class="typelist">
			<li><a href="">Сначала дешевые</a></li>
			<li><a href="">Сначала дорогие</a></li>
			<li><a href="">По свежести объявления</a></li>
		</ul>
	</div>
	<div class="col-lg-9 pro3 nopaddingright">
        @if(ads!=null) {
            @for(ad <- ads) {
                <div class="col-lg-12  pro1 @if(models.ad.Ad.settingByName(ad,"highlight")!=null){highlighted }">@_ad(ad)</div>
            }
        }
	</div>
	<div class="col-lg-3 pro2 paddingleft30px nopaddingright"><div class="">@_advertisements()</div></div>
</div>
}

<script>
$("#poi").click(function() {
  $("#demo").slideToggle("slow");
  $("#poi span").text(function(i, v) {
	return v === 'Обычный поиск' ? 'Расширенный поиск' : 'Обычный поиск'
  })
});

$(document).on("click",".search_type",function(){
	
	
})
</script>