@(payments:List [models.user.Payment])
@main("Личный счет") {



<div class="container">
	<div class="col-lg-3 menudiv">@profile._menu()</div>
	<div class="col-lg-9">
		
		@profile._title("ЛИЧНЫЙ СЧЕТ"){
		<div class="col-lg-3">
			<p class="lin">
				<b>У вас на счете:</b> <span class="kipkizil">@models.user.AuthorisedUser.getMyMoney(session.get("connected"))</span>
			</p>
		</div>
		@*
		<div class="col-lg-3 onjak nopaddingright">
		<input type="number" id="money" >		
			<a id="add_money"  class="btn btn-default btn-success "><span
				class="glyphicon glyphicon-plus"></span> Пополнить счет</a>
		</div>
		*@
		}
		
		<div id="payment_body">@_table(payments)</div>
		<div class="col-lg-3 nopaddingleft">
<select id="payment_select" class="form-control">
  <option value="all">Все операции</option>
  <option value="add">Пополнение</option>
  <option value="spend">Потрачено</option>
</select>
</div>
<div class="col-lg-5 nopaddingleft">
<div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-md form-control" id="start" />
    <span class="input-group-addon">по</span>
    <input type="text" class="input-md form-control" id="end" />
</div>
</div>

<div class="col-lg-2 nopaddingleft">
<button id="payment_filter" class="btn btn-default fltright">Показать</button>
</div>
@*
<div class="col-lg-2 nopaddingleft">
<button class="btn btn-default">Очистить</button>
</div>*@
	</div>

</div>
		
		
		

}

<script>
	// nado bylo CSS selector pravelnoe pisat'
	$('.input-daterange').datepicker({
		language : "ru",
		format: 'dd/mm/yyyy'
	});
	
	$(document).on("click","#add_money",function(){
		var money = $("#money").val();
		jsRoutes.controllers.Manage.addMoney("add", money).ajax({
success: function(data) {
  $("#payment_body").html(data);
},
error: function(jqXHR, textStatus, errorThrown) {
console.log(jqXHR.responseText);
}
});
		
	} );


$(document).on("click","#payment_filter",function(){

	var filter = $("#payment_select").val();
	var start = $("#start").val();
	var end = $("#end").val();
	
	jsRoutes.controllers.Manage.paymentReport(filter, start,end).ajax({
	success: function(data) {
  $("#payment_body").html(data);
}
})
})
	
</script>