@(payments:List [models.user.Payment])
@main("Личный счет") {

<div class="container">
	<div class="col-lg-3 menudiv">@profile._menu()</div>
	<div class="col-lg-9">
		
		<div id="payment_body">@_table(payments)</div>
	</div>

</div>

}

<script>
	// nado bylo CSS selector pravelnoe pisat'
	$('.input-daterange').datepicker({
		language : "ru"
	});
	
	$(document).on("click","#add_money",function(){
		var money = $("#money").val();
		jsRoutes.controllers.Manage.addMoney("add", money).ajax({
success: function(data) {
  $("#payment_body").html(data);
},
error: function(jqXHR, textStatus, errorThrown) {
console.log(jqXHR.responseText);
}
});
		
	} );
	
	
</script>