<ul class="ras nopaddingleft">
	<li><ul class="ras2">
		<li class="ras3">Получать рассылку сайта и уведомления?</li>
		<li><input type="checkbox" class="switcher" name="my-checkbox2" checked></li>
		</ul>
	</li>
	<li><ul class="ras2">
		<li class="ras3">Получать уведомления о новых сообщениях на почту?</li>
		<li><input type="checkbox" class="switcher" name="my-checkbox3" checked></li>
		</ul>
	</li>
	<li><ul class="ras2">
		<li class="ras3">Получать уведомления о новых комментариях на почту?</li>
		<li><input type="checkbox" class="switcher" name="my-checkbox4" checked></li></ul>
	</li>
</ul>