
<form class="form-horizontal" id="passwordForm" role="form">
    <fieldset>
        <!-- Form Name -->
        <!-- Password input-->
        <div class="form-group">
            <label class="col-xs-4 control-label" for="passwordinput">Текущий пароль</label>
            <div class="col-xs-5">
                <input class="form-control input-md ssss" name="current" id="current" type="password" />
            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-xs-4 control-label" for="passwordinput">Новый пароль</label>
            <div class="col-xs-5">
                <input class="form-control input-md ssss" name="new" id="new" type="password" />
            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-xs-4 control-label" for="passwordinput">Повторите пароль</label>
            <div class="col-xs-5">
                <input class="form-control input-md ssss" name="repeat" id="repeat" type="password" />
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-xs-4 control-label" for="singlebutton"></label>
            <div class="col-xs-4">
                <button class="btn btn-success change pasword">Изменить пароль</button>
            </div>
        </div>
    </fieldset>
</form>
@utils._flashAlert("error","danger")
@utils._flashAlert("success","success")