<div class="col-lg-12 boto nopaddingleft">
<ul class="nav nav-tabs motomoto cv" role="tablist">
  <li class="active"><a href="#passwordTab" role="tab" data-toggle="tab">Изменить пароль</a></li>
  <li><a href="#newsletterTab" role="tab" data-toggle="tab">Настройки рассылки</a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="passwordTab">
    @_passwordTab()
  </div>
  <div class="tab-pane" id="newsletterTab">
  	@_newsletterTab()
  </div>
</div>
</div>