<div class="col-lg-12 boto">

<ul class="lab4 nopaddingleft">
  <li>
    <ul class="lab3">
      <li class="lab">ФИО</li>
      <li class="lab2">Админ Админов</li>
    </ul>
  </li>
  @*
  <li>
    <ul class="lab3">
      <li class="lab">Фото</li>
      <li class="lab2"><img src="assets/images/home/cow.PNG"></li>
    </ul>
  </li>
  *@
  <li>
    <ul class="lab3">
      <li class="lab">Адрес</li>
      <li class="lab2">Микр-4 71</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Регион</li>
      <li class="lab2">Алматы</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Телефон</li>
      <li class="lab2">87078889966</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Вконтакте</li>
      <li class="lab2">kairat</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Facebook</li>
      <li class="lab2"></li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Skype</li>
      <li class="lab2">kairat77</li>
    </ul>
  </li>
  <li>
    <ul class="lab3">
      <li class="lab">Сайт</li>
      <li class="lab2">kora.kz</li>
    </ul>
  </li>

  <li>
  <ul><li><a href="@routes.Application.adminProfileEdit" class="btn btn-default btn-primary">Редактировать</a></li>
  </ul></li>
</ul>




    

</div>