@for((ad,index)<-models.ad.Ad.findToModerate.zipWithIndex){
<tr id="ad@ad.id">
	<td>@{index+1}</td>
	<td>@ad.contactInfo.region.name</td>
	<td>@ad.contactInfo.company</td>
	<td>@ad.section.name</td>
    <td>@if(ad.section.id!=5){@ad.category.name}</td>
	@*<td>@ad.gender</td>*@
	<td>@Messages(ad.quantity)</td>
	<td>@ad.birthDate</td>
	<td>@Messages(ad.priceType.price.toString) @ad.priceType.currency</td>
	<td>@Messages(ad.status)</td>
	@*
	<td>@ad.views</td>
	<td>@ad.shares</td>
	<td>@ad.publishedDate</td>
	<td>@ad.updatedDate</td>
	<td>@ad.expirationDate</td>
	*@
	<td class="ortaga">
	@*@if(ad.status.equals("pending")){*@
	<a class="btn btn-success btn-xs" href="@routes.Ads.get(ad.id)"><span class="glyphicon glyphicon-pencil"></span></a>
	@*}else{В процессе}*@
	</td>
</tr>
}