<table class="table table-hover" style="white-space: nowrap">
	<thead>
		<tr>
			<td>№</td>
			<td>Регион</td>
			<td>Компания</td>
			<td>Животное</td>
			<td>Порода</td>	
			@*<td>Пол</td>*@					
			<td>Количество</td>
			<td>Возраст</td>
			<td>Цена</td>
			<td>Статус</td>
			@*
			<td>views</td>
			<td>shares</td>
			<td>publishedDate</td>
			<td>updatedDate</td>
			<td>expirationDate</td>
			*@
			<td>Модерация</td>
		</tr>
	</thead>
	<tbody>@_ad()
	</tbody>
</table>