<div class="col-lg-12 nopaddingleft boto">
<table class="table table-hover table-responsive">
	<thead>
		<tr>
			<td>Дата</td>
			<td>Время</td>
			<td>Сумма</td>
			<td>Тип</td>
			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>01.08.2012</td>
			<td>16:32:22</td>
			<td>1500тг</td>
			<td>Пополнение</td>
		</tr>
	</tbody>
</table>
</div>
<div class="col-lg-3 nopaddingleft">
<select class="form-control">
  <option>Все операции</option>
  <option>2</option>
</select>
</div>
<div class="col-lg-5 nopaddingleft">
<div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-md form-control" name="start" />
    <span class="input-group-addon">по</span>
    <input type="text" class="input-md form-control" name="end" />
</div>
</div>

<div class="col-lg-2 nopaddingleft">
<button class="btn btn-default fltright">Показать</button>
</div>
<div class="col-lg-2 nopaddingleft">
<button class="btn btn-default">Очистить</button>
</div>
