<h1>О проекте</h1>

<p>Если вы зашли на эту страницу, значит вам действительно интересно узнать о проекте. А мы рады вам о нем рассказать!</p>

<p>«Маркет» (market.kz) – это сайт бесплатных объявлений общей тематики, созданный командой уже известных в Казахстане проектов «Колёса» и «Крыша». На этих сайтах много людей, которые продают не только машины и недвижимость, но еще множество сопутствующих товаров и услуг. Наша главная задача – помочь покупателю и продавцу найти друг друга.</p>

<p>Мы постарались учесть все хорошее, что есть на наших сайтах, которыми пользуются миллионы казахстанцев, а также добавить новые возможности, чтобы сделать процесс продажи или покупки еще удобнее. Конечно, не все еще реализовано, мы торопились показать вам сайт как можно раньше и теперь будем дорабатывать существующий функционал и добавлять новые возможности. В наших ближайших планах:</p>
<ul>
<li>Публичный профиль продавца, где можно указать дополнительные средства связи, информацию о себе или своей компании, ссылки на свои сайты или представительства в социальных сетях. Место, где при желании можно собрать все свои объявления.</li>
<li>Возможность добавить в избранное, написать заметку или поделиться объявлением с друзьями, а также возможность скрыть объявления, которые не интересны.</li>
<li>Поиск объявлений по месту расположения с выбором наиболее точной карты вашего города от Яндекс, Google или 2ГИС.</li>
<li>Удобства личного кабинета при работе с большим количеством объявлений: групповые действия, выбор количества объявлений на странице и другие возможности.</li>
<li>Возможность перевода единиц между личными счетами всех трех проектов.</li>
<li>И многое другое, весь список просто не поместится на этой странице!</li>
 </ul>


<br>
 

<p>С наилучшими пожеланиями, </p>
<h4>Kora.kz</h4>
