@(section:models.ad.Section)
<div class="fire-div" style="width:99%">    
<select id="category" name="category" class="form-control next fire-select reg2" validation="not_null">
    <option selected disabled hidden> Выберите категорию</option>
    @for(category<-section.categories if(category.parentCategory==null)){
        @if(category.isParent){
        <optgroup label="@category.name">       
        @for(subcategory <- category.findSubCategories){
        <option value="@subcategory.id">@subcategory.name</option>}
        </optgroup>
        }else{
        <option value="@category.id">@category.name</option>}       
    }
</select>
</div>
