@(user:models.user.AuthorisedUser)
@import models.ad.Section
@import models.contact.Region
@region_id = {@if(user!=null && user.profile.region!=null){@user.profile.region.id}else{-1}}
@city_id = {@if(user!=null && user.profile.city!=null){@user.profile.city.id}else{-1}}

<form id="ad_form" class="form-horizontal">
<fieldset class="PFBSPLI-13">

<div id="ad_info" class="adinfos">
<!-- Form Name -->
<legend class="PFBSPRB-17">Подать объявление</legend>

<!-- Select Basic -->
    <div id="error_fields" class="alert alert-danger" style="visibility: hidden;" role="alert"></div>
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Выберите раздел которая наиболее подходят вашему объявлению">
  <label class="col-xs-2 textalign" for="selectbasic">Раздел</label>
  <div class="col-xs-3" id="ad-razdel">
    <select id="section" name="section" class="form-control next selectdesign " validation="not_null" >
        <option selected disabled hidden> Выберите раздел</option>
      @for(section <- Section.find.all()) {
          <option value="@section.id">@section.name</option>
      }
    </select>
  </div>
    <div id="category_list" class="col-xs-3">

  </div>
</div>

<div id="genderHide" >
    <div class="form-group" data-toggle="tooltip" data-placement="right" title="Выберите Пол которая наиболее подходят вашему объявлению">
        <label class="col-xs-2 textalign" for="radios">Пол</label>
        <div class="col-xs-4">
            <label class="radio-inline" for="radios-0">
                <input type="radio" name="section_gender" id="radios-0" value="male" checked="checked">
                Самец
            </label>
            <label class="radio-inline" for="radios-1">
                <input type="radio" name="section_gender" id="radios-1" value="female">
                Самка
            </label>
            <label class="radio-inline" for="radios-2">
                <input type="radio" name="section_gender" id="radios-2" value="both">
                Оба
            </label>
        </div>
    </div>
</div>
<div id="quanHide">
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Выберите Количество которая наиболее подходят вашему объявлению">
  <label class="col-xs-2 textalign" for="radios">Количество</label>
  <div class="col-xs-4">
    <label class="radio-inline" for="radios-012">
      <input type="radio" name="quantity" id="radios-012" value="single" checked="checked">
      Один
    </label>
    <label class="radio-inline" for="radios-112">
      <input type="radio" name="quantity" id="radios-112" value="many">
      Косяк
    </label>
  </div>
</div>
</div>

<!-- Select Basic -->
<div id="ageHide">
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Выберите Возраст которая наиболее подходят вашему объявлению">
  <label class="col-xs-2 textalign" for="selectbasic1">Возраст</label>
  <div class="col-xs-2">
    <select id="selectbasic1" name="age" class="form-control selectdesign">
    @for(i<-java.util.Calendar.getInstance().get(java.util.Calendar.YEAR)-15 to java.util.Calendar.getInstance().get(java.util.Calendar.YEAR)) {
        <option value="@i">@i</option>
    }
    </select>
  </div>
</div>
</div>

<!-- Multiple Radios -->
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Выберите Цену которая наиболее подходят вашему объявлению">
  <label class="col-xs-2 textalign" for="radios1">Цена</label>
  <div class="col-xs-4">

  <div class="radio">
    <label for="radios1-0">
      <input type="radio" name="payment_type" id="payment_type" value="normal" checked="checked">



            <div class="input-group below24 bias-input-group inpgr">

              <input type="text" id="money_input" value="" class="form-control next ssss" name="money" validation="double" style="height: 26px;">

              <div class="input-group-btn bs-dropdown-to-select-group">
             
                <select id="currency" name="currency" class="form-control sd tenge" style="width: 66px;border-radius:0px 5px 5px 0px">
                    <option value="KZT">a</option>
                    <option value="USD">$</option>
                  </select>

              </div>


            </div>
    </label>

	</div>

  <div class="radio">
    <label for="radios1-1">
      <input type="radio" name="payment_type" id="radios1-1" value="change">
      На обмен
    </label>
	</div>
  <div class="radio">
    <label for="radios1-2">
      <input type="radio" name="payment_type" id="radios1-2" value="negotiable_price">
      Договорная цена
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div id="titleHide">
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Заголовок должен отражать суть объявления и быть уникален.">
  <label class="col-xs-2 textalign" for="textinput">Заголовок</label>
  <div class="col-xs-6">
  <input id="textinput" name="title" type="text" placeholder="" maxlength="30" class="form-control input-md next ssss" validation="not_null">
  <span class="help-block">Максимальная длина 30 символов.</span>
  </div>
</div>
</div>

<!-- Textarea -->
<div class="form-group" data-toggle="tooltip" data-placement="right" title="В описании расскажите подробнее о своем товаре или услуге. Это увеличит количество просмотров!">
  <label class="col-xs-2 textalign" for="textarea">Описание</label>
  <div class="col-xs-6">
    <textarea class="form-control next" validation="not_null" rows="6" id="textarea" name="description"></textarea>
  </div>
</div>

<!-- File Button -->
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Можно добавить несколько фотографий сразу.
Формат — JPEG или PNG, вес — не более 5 Мб, минимальные размеры — 400x300 px.
Можно изменить порядок фото, перетаскивая их." >
  <label class="col-xs-2 textalign" for="filebutton">Фотографии</label>
  <div class="col-xs-4">
    <div class="fileUpload btn myb">
    <span class="icon-photo"> <span class="PFBSPLI-13" style="font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;">Добавить Фотографии</span></>
    <input type="file" id="choose" name="image_file" class="upload btn" multiple/>
    <input type="hidden" id="image_order" name="image_order">
</div>
  </div>

</div>

<div class="form-group">
  <label class="col-xs-2 textalign"></label>
  <div class="col-xs-10">
    <ul id="images" class="connectedList ui-sortable"></ul>
    
    <div class="clear"></div>
      <button id="imageUploadBtn" class="btn btn-danger">upload</button>
  </div>

</div>

<div class="form-group">
  <label class="col-xs-2 textalign" for="singlebutton"></label>
  <div class="col-xs-4">
	<a id="next" class="btn btn-success" style="padding-left: 15%;padding-right: 15%;">Дальше</a>
  </div>

</div>

</div>
<div id="navigation">



</div>
<div id="contact_info" style="display:none;">
<legend class="PFBSPRB-17">Контактная информация</legend>

<!-- Select Basic -->
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Выберите свой регион и город из списка.">
  <label class="col-xs-2 textalign" for="selectbasic2">Регион</label>
  <div class="col-xs-3">
    <select id="region" name="region" class="form-control selectdesign" validation="not_null">
        <option selected disabled hidden> Выберите регион</option>
        @for(region <- Region.find.all()) {
        <option value="@region.id" @if(user!=null&&region.equals(user.profile.region)){selected}>@region.name</option>
        }
    </select>
  </div>
  <div id="city_list" class="col-xs-3">
      @if(user!=null && user.profile.city!=null && user.profile.region!=null) {
          <select id="city"  name="city" class="form-control selectdesign" validation="not_null">
		    <option selected disabled hidden> Выберите город</option>
		    @for(city<-user.profile.region.cities if(city.parentCity==null)){
		    	@if(city.isParent){
		    	<optgroup label="@city.name">    	
		    	@for((subcity,index) <- city.findSubCitites.zipWithIndex){
		    	<option @if(subcity.location!=null){lat="@subcity.location.lat" lng="@subcity.location.lng"} value="@subcity.id" @if(user!=null&&subcity.equals(user.profile.city)){selected}>— @subcity.name</option>
		    	}
		    	</optgroup>
		    	}else{
		    	<option @if(city.location!=null){lat="@city.location.lat" lng="@city.location.lng"} value="@city.id" @if(user!=null&&city.equals(user.profile.city)){selected}>— @city.name</option>
		    	}		
		    }
		</select>
      }
  </div>
</div>


<!-- Select Basic -->


<!-- Text input-->
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Название компаний или Ваше имя.">
  <label class="col-xs-2 textalign" for="textinput1">Компания</label>
  <div class="col-xs-6">
  <input id="textinput1" @if(user!=null){ value="@user.userName"} name="company_name" type="text" placeholder="Название компании (ТОО, ИП, АО)" class="form-control input-md ssss" validation="not_null">

  </div>
</div>

<!-- Text input-->
    <div class="form-group" data-toggle="tooltip" data-placement="right" title="Следует указать вашу настоящую электронную почту, она позволит вам управлять вашим объявлением и не будет опубликована на сайте.">
        <label class="col-xs-2 textalign" for="ema">Email</label>
        <div class="col-xs-3">
            <input id="ema"  name="email" type="text" placeholder="" class="form-control input-md ssss" @if(user!=null){value="@user.email"} validation="mail">
        </div>
    </div>
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Следует указать вашу настоящий номер телефона.">
  <label class="col-xs-2 textalign" for="textinput2">Телефон</label>
  <div class="col-xs-3">
  <input id="tel1" name="phone" type="text" placeholder="" class="form-control input-md ssss" @if(user!=null && user.profile.phone!=null){value="@user.profile.phone"} validation="not_null">
<div id="additional_phones" style="margin-top:5px;margin-bottom:5px;">

</div>
     <center style="margin-left: 91px;margin-top: 5px;"> <button type="button" id="add_phone_additional" class="btn btn-default btn-xs active"><span class="glyphicon glyphicon-phone-alt"></span> Добавить еще номер</button></center>
      <input type="hidden" id="tels" name="additional_phone" value=""/>
  </div>
</div>


<!-- Select Basic -->
<div class="form-group" data-toggle="tooltip" data-placement="right" title="Разрешить комментарий или нет.">
  <label class="col-xs-2 textalign" for="selectbasic4">Комментарии</label>
  <div class="col-xs-5">
    <select id="selectbasic4" name="coment_display" class="form-control selectdesign">
      <option value="registred">Только зарегистрированным пользователям</option>
      <option value="all">Всем</option>
      <option value="nobody">Никому</option>
    </select>
  </div>
</div>
<!-- BHHJAUSHASHFAS -->
<div class="form-group">
  <div class="col-xs-5" style="width: 100%;position: absolute;padding-left: 316px;padding-top: 22px;">
    <span>Укажите ваше расположение на карте</span>
    <a id="remove-map-marker" class="kizilast" style="cursor: pointer;">Удалить метку</a>
  </div>
</div>
<!-- BHHJAUSHASHFAS -->
<div class="form-group" style="z-index:0;">
	<div class="col-xs-2" style="margin-left: 169px;">
        <span class="input-group-btn">
        	<a map="yandex" class="mapSelect btn btn-default btn-sm "><b>Яндекс</b></a>
        	<a map="google" class="mapSelect btn btn-default btn-sm active"><b>Google</b></a>
        </span>
        <div id="mouse_event_map"></div>
        <input type="hidden" value="" id="location" name="location">
	</div>
</div>
<div class="form-group">
  <label class="col-xs-2 textalign" for="selectbasic4"></label>
  <div class="col-xs-5" style="width: 60%">
    <span>Размещая объявления на сайте, вы соглашаетесь с <a href="@routes.Application.rules" target="_blank" class="kizilast">этими правилами</a></span>
  </div>
</div>
<!-- Button -->
    <div id="success_message" class="alert alert-success" style="visibility: hidden" role="alert"></div>
<div class="form-group">
  <label class="col-xs-2 textalign" for="singlebutton"></label>
  <div class="col-xs-4">
  	<button id="ad_form_submit" class="btn btn-success">Подать объявление</button>
  	<a id="back" class="btn btn-default">Назад</a>
    
  </div>

</div>

</div>
</fieldset>
</form>
