@(user:models.user.AuthorisedUser)
@lat = {@if(user!=null && user.location!=null){@user.location.lat} else{43.237887}}
@lng = {@if(user!=null && user.location!=null){@user.location.lng}else{76.927437}}
@main("Подать объявление") {

<div class="container">
	<div class="searchbarmargin">@_searchbar()</div>
	@_form(user)
</div>
}
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))' type="text/javascript"></script>
<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<style>
.ui-state-highlight {
display: inline-block;
height: 100px;
width: 100px;
margin-right: 10px;
margin-bottom: 10px;
}


.clear {
clear: both;
}
</style>

<script>
	$("#tel1").mask("+7(999) 999-9999");

</script>

<script>

   //alert( $("[name='payment_type']" ).val());
$(document ).on("change","[name='payment_type']",function(){

    if($(this ).val()=="normal"){

        $("#money_input" ).attr("validation","number");
    }else{

    $("#money_input" ).attr("validation","");
    }
})

var imageMap = {};
// add a item
//map[key1] = value1;
// or remove it
//delete map[key1];
// or determine whether a key exists
//key1 in map;
$("#images" ).sortable({
placeholder: 'ui-state-highlight'
});

var choose = document.getElementById('choose');
FileAPI.event.on(choose, 'change', function (evt){
var files = FileAPI.getFiles(evt); // Retrieve file list

FileAPI.filterFiles(files, function (file, info/**Object*/){
if( /^image/.test(file.type) ){
return  info.width >= 320 && info.height >= 240;
}
return  false;
}, function (files/**Array*/, rejected/**Array*/){
if( files.length+$("#images li" ).length<=5 ){

FileAPI.each ( files, function ( file ) {
FileAPI.Image ( file ).preview ( 400 ).get ( function ( err, img ) {

   imageMap[file.name] = img.toDataURL("image/png");

})

FileAPI.Image ( file ).preview ( 100 ).get ( function ( err, img ) {

var name = file.name.replace(".", "");
if($('[id=item-'+ name+']').length==0) {
$ ( "#images" ).append ( "<li id=item-" + name + " fileName='" + file.name + "' style='position:relative; display: inline-block;margin-right: 10px; margin-bottom: 10px;width: 100px; height: 100px;'></li>" ) ;
$ ( "#item-" + name ).html ( img ) ;
$ ( "#item-" + name ).append ( '<input type="button" class="delete" value="X" style="position:absolute;top:0;right:0;" />' ) ;
}else{
alert(name + " exists");
}
} ) ;
} ) ;
}else{alert("max picture 5");}



});
});

    $(document ).on("change","#animal",function(){

    var id = Number($(this ).val());

    jsRoutes.controllers.Ads.getBreeds(id).ajax({
    success: function(data) {

    $("#breed_list" ).html(data);
}
});
    })

$(document ).on("change","#region",function(){

var id = Number($(this ).val());

jsRoutes.controllers.Ads.getCities(id).ajax({
success: function(data) {

$("#city_list" ).html(data);

}
});
})


$(document).on("click", "#ad_form_submit", function(e) {
if(validation()) {
$('#ad_form').submit(function(e) {
var formData = new FormData(this);
var image_names="";
$("#images li canvas" ).each(function(){
   var a = imageMap[$(this ).parent( ).attr("fileName")];
    console.log(a);
formData.append($(this ).parent( ).attr("fileName"),a);
image_names+=$(this ).parent( ).attr("fileName")+"&";
})
formData.append("image_names",image_names);
$.ajax({
url: '@controllers.routes.Ads.create',
type: 'POST',
data: formData,
processData: false,
contentType: false,
success: function(data) {
@if(session.get("connected")!=null){
window.location.href = "@routes.Manage.myAds()";
}else{window.location.href = "@routes.Application.index()";}
}
});
e.preventDefault();
});
}else{e.preventDefault();alert("validation error");}
});

var lat ="@lat";
var lng ="@lng";
var marker;
var myPlacemark;
var isMarker=false;
var curMap="google";
$(document ).on("change","#city",function(){
lat = $('option:selected', this).attr('lat');
lng = $('option:selected', this).attr('lng');
isMarker=false;

    if(curMap=="yandex"){
        $("#mouse_event_map" ).html("");
    myMap = new ymaps.Map ( "mouse_event_map", {
    center :[lat,  lng],
    zoom : 14,
    controls: ["zoomControl"]
    } ) ;

    myMap.events.add ( 'click', function ( e ) {
    lat = e.get ( 'coords' )[0];
    lng = e.get ( 'coords' )[1];
    isMarker = true ;

    myMap.geoObjects.remove ( myPlacemark ) ;

    var coords = e.get ( 'coords' ) ;

    myPlacemark = new ymaps.Placemark ( coords) ;
    myMap.geoObjects.add ( myPlacemark ) ;
    } )
    }else {
    map = new GMaps ( {
    div : '#mouse_event_map',
    zoom : 14,
    lat : lat,
    lng : lng,
    width : '650px',
    height : '400px',
    click : function ( e ) {
    $ ( "#location" ).val ( e.latLng ) ;
    lat = e.latLng.lat ( ) ;
    lng = e.latLng.lng ( ) ;
    isMarker = true ;
    map.removeMarker ( marker ) ;
    marker = map.addMarker ( {
    position : e.latLng
    } ) ;
    }
    } ) ;
    }
})


$(document).on("click",".mapSelect",function(){

if($(this ).attr("map")=="yandex") {
curMap="yandex";


myMap = new ymaps.Map ( "mouse_event_map", {
center :[lat,  lng],
zoom : 14,
controls: ["zoomControl"]
} ) ;

myMap.events.add ( 'click', function ( e ) {

   lat = e.get ( 'coords' )[0];
   lng = e.get ( 'coords' )[1];
isMarker = true ;
myMap.geoObjects.remove ( myPlacemark ) ;

var coords = e.get ( 'coords' ) ;
myPlacemark = new ymaps.Placemark ( coords) ;
myMap.geoObjects.add ( myPlacemark ) ;
} )

if(isMarker){
myPlacemark = new ymaps.GeoObject({
geometry: {
type: "Point",
coordinates: [lat, lng]
}});
myMap.geoObjects.add ( myPlacemark ) ;
}

}else{
curMap="google";
map = new GMaps({
div: '#mouse_event_map',
zoom: 14,
lat: lat,
lng:  lng,
width: '650px',
height: '400px',
click: function(e) {
$("#location" ).val( e.latLng);
lat= e.latLng.lat();
lng= e.latLng.lng();
isMarker=true;
map.removeMarker(marker);
marker =  map.addMarker({
position:e.latLng
});
}
});
if(isMarker){
map.removeMarker(marker);
marker=map.addMarker({
lat: lat,
lng: lng,
});
}
}
})


</script>

<script type="text/javascript">
/**
* Mouse Events on Maps
*/

$(document).ready(function(){

map = new GMaps({
div: '#mouse_event_map',
zoom: 14,
lat: lat,
lng:  lng,
width: '650px',
height: '400px',
click: function(e) {
$("#location" ).val( e.latLng);
lat= e.latLng.lat();
lng= e.latLng.lng();
isMarker=true;
map.removeMarker(marker);
marker =  map.addMarker({
position:e.latLng
});
}

});
@if(user!=null && user.location!=null) {
    map.addMarker ( {
    lat : lat,
    lng : lng
    } ) ;
    isMarker=true;
}
});


</script>