<div class="footer">
   <div class="container">
      <div class="col-lg-2 PFBSPB-13"><p class="foot">© 2014 "Қора.kz" </p></div>
      <div class="col-lg-7">
        <ul class="foot">
            <li><a class="agreen PFBSPB-13" href="@routes.Application.about">О проекте</a></li>
            <li><a class="agreen PFBSPB-13" href="@routes.Application.feedback">Написать письмо</a></li>
            <li><a class="agreen PFBSPB-13" href="#">Правила сайта</a></li>
            <li><a class="agreen PFBSPB-13" href="#">Карта сайта</a></li>
         </ul>
      </div>
      <div class="col-lg-3"><a class="foot aright" href="#"><img src="@routes.Assets.at("images/home/black_small_logo.png")"/></a></div>
   </div>
</div>