<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal22">
      <div class="modal-content">
         <div class="modal-header tobesi">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
         </div>
         <div class="modal-body">
            <p class="motomoto">Займет меньше минуты и даст новые возможности и позволит управлять вашими объявлениями на сайте.</p>
            <form id="registerForm" class="form-horizontal" role="form" action="#">

               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="text" name="userName" class="form-control"  placeholder="Ваше имя или название компании" Regvalidation="not_null">
                     <span class="help-block"><i>Этим именем будут подписываться ваши комментарии</i></span> 
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Ваша электронная почта" Regvalidation="mail">
                     <span class="help-block"><i>Никому, кроме вас, не показывается</i></span> 
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Пароль" Regvalidation="not_null">
                     <span class="help-block"><i>Хороший пароль состоит минимум из 6 латинских букв и цифр без пробелов</i></span> 
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12">
                     <input type="password" name="confirmPassword" class="form-control" id="inputPassword3" placeholder="Пароль еще раз" Regvalidation="not_null">
                     <span class="help-block"><i>Хотим убедиться, что вы его не забудете</i></span> 
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12 ortada">
                     <div class="checkbox">
                        <label>
                        <input type="checkbox" name="agreement">Я согласен с правилами сайта
                        </label>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12 ortada">
                     @*
                  	  <div id="mc">
			            <p>Please draw the shape in the box to submit the form:</p>
			            <canvas id="mc-canvas"></canvas>
			          </div>
			          <input type="hidden" id="fairly-unique-id" value="submitform.php" />
                      <input type="submit" disabled="disabled" value="Submit Form" />
                     *@
                     <button type="submit" id=registrButton class="btn btn-success">Зарегистрироваться</button>
                  </div>
               </div>
               <div id="registerErrorAlert" class="alert alert-danger" role="alert"></div>
               <div id="flash">
               @utils._flashAlert("error","danger")
               </div> 
               
            </form>
         </div>
      </div>
   </div>
</div>