@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div id="navbar" class="navbar navbar-default navbar-top navback" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navcolor">
      	
      	@if(request.uri.contains("profile")||request.uri.contains("admin")){
      	<li style="height: 50px;">
      		<a href="@routes.Application.index"><img src="@routes.Assets.at("images/home/white_small_logo.png")"/></a>
      	</li>
      	}else{
      	
        <li class="dropdown">
          <a href="asik" class="dropdown-toggle" data-toggle="dropdown">Все объявления <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
			<li data-value="ЛОШАДЬ"><a href="@routes.Ads.horse">ЛОШАДЬ </a></li>
			<li data-value="ВЕРБЛЮД"><a href="@routes.Ads.camel">ВЕРБЛЮД </a></li>
			<li data-value="КОРОВА"><a href="@routes.Ads.cow">КОРОВА </a></li>
			<li data-value="БАРАН"><a href="@routes.Ads.cam">БАРАН </a></li>
			<li data-value="ДРУГИЕ"><a href="@routes.Ads.other">ДРУГИЕ </a></li>
          </ul>
        </li>
        }
      </ul>
        <ul class="nav navbar-nav">
            <li>
                <a href="@routes.Ads.favorite" >
                    <span class="glyphicon glyphicon-star"></span>Избранное
                </a>
            </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
      	@subjectPresentOr() {
      	<li>
          <a href="@routes.Manage.myInfo" >
            <span class="icon-cabinet"></span> Привет, @models.user.AuthorisedUser.findByEmail(session().get("connected")).userName
          </a>
        </li>
        <li>
          <a href="@routes.Application.signOut">
            <span class="icon-logoutNav"></span> Выйти
          </a>
        </li>
      	}{
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal2">Регистрация</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal">
            <span class="icon-cabinet"></span> Личный кабинет
          </a>
        </li>
        }
        <li>
          <a href="@routes.Ads.show">
            <span class="icon-addAd"></span> Подать объявление
          </a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>