@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div id="navbar" class="navbar navbar-default navbar-top navback" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navcolor">
      	
      	@if(request.uri.contains("profile")){
      	<li>
      		<a href="@routes.Application.index"><img src="@routes.Assets.at("images/home/white_small_logo.png")"/></a>
      	</li>
      	}else{
      	
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Все объявления <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Поиск</a>
            </li>
            <li><a href="#">Объявление</a>
            </li>            
          </ul>
        </li>
        }
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	@subjectPresentOr() {
      	<li>
          <a href="#" >
            <span class="glyphicon glyphicon-user"></span> Привет, @models.user.AuthorisedUser.findByEmail(session().get("connected")).userName
          </a>
        </li>
        <li>
          <a href="@routes.Application.signOut">
            <span class="glyphicon glyphicon-off"></span> Выйти
          </a>
        </li>
      	}{
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal2">Регистрация</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-user"></span> Личный кабинет
          </a>
        </li>
        }
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-edit"></span> Подать объявление
          </a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>