@(message: String)

@main(message) {


   <div class="container">
      @searchbar()
      <div class="row">
         <div class="col-lg-12">
            <ul id="menuler">
               <li class="jylky"><a href="#"></a></li>
               <li class="tuye"><a href="#"></a></li>
               <li class="siyr"><a href="#"></a></li>
               <li class="koi"><a href="#"></a></li>
               <li class="baska"><a href="#"></a></li>
            </ul>
         </div>
      </div>
      <div class="row">
		<div class="col-lg-12">
			<p class="jum"><a class="btn btn-lg btn-danger" href="@routes.Application.createAd" role="button">Подать объявление</a></p>
			<p class="jum"><b>Всего на сайте 55887 объявлений, из них 578 объявлений подано сегодня</b></p>
			<p class="jum2">Покупка и продажа сельскохозяйственных животных. Покупай, продай или обменяй сельхоз животных на <a href="@routes.Application.index" class="reda">Қора.kz</a></p>
			<p class="jum2">На сайте <a href="@routes.Application.index" class="reda">www.kora.kz</a> легко и быстро можно купить или продать сельхоз животных.</p>
		</div>
	  </div>
   </div>
}
