<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal11">
      <div class="modal-content">
         <div class="modal-header tobesi">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Вход в личный кабинет</h4>
         </div>
         <div class="modal-body">
            <form role="form">
               <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Логин">
                    <span class="help-block"><i>адрес электронной почты</i></span>  
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                    <span class="help-block"><i>от личного кабинета</i> <span class="onjaka"><i><a href="" class="kizilast">Забыли пароль</a></i></span> </span> 
               </div>
               <div class="checkbox onjaka">
                  <label>
                  <input type="checkbox"> Запомнить меня
                  </label>
               </div>
               <button type="submit" class="btn btn-success mybut">Войти</button>
               <p class="pmm"><i>Еще нет кабинета? <a href="#" class="kizilast">Зарегистрируйтесь</a></i></p>
            </form>
         </div>
      </div>
   </div>
</div>
