<div class="row">
 <div class="col-lg-4">
    <a href="@routes.Application.index"><img src="assets/images/home/logo.PNG"/></a>
 </div>
 <div class="col-lg-8">






<div class="form-group topmg">

            <div class="input-group below24 bias-input-group">

              <input type="text" value="" class="form-control placehl" name="custom_name" placeholder="Быстрый поиск / Например: Коровы породы Абердин-Ангус">
         
              <div class="input-group-btn bs-dropdown-to-select-group">
              <button type="button" class="noradius btn btn-default dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown" tabindex="-1">
                <span data-bind="bs-drp-sel-label">ВО ВСЕХ РАЗДЕЛАХ</span>
                <input type="hidden" name="country_path" data-bind="bs-drp-sel-value" value="us">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu" style=" max-height: 300px; overflow: scroll; overflow-y: scroll; overflow-x: hidden; ">
              <!-- Loop -->

                              <li data-value="ЛОШАДЬ"><a href="#">ЛОШАДЬ </a></li>
                              <li data-value="ВЕРБЛЮД"><a href="#">ВЕРБЛЮД </a></li>
                              <li data-value="КОРОВА"><a href="#">КОРОВА </a></li>
                              <li data-value="БАРАН"><a href="#">БАРАН </a></li>
                              <li data-value="ДРУГИЕ"><a href="#">ДРУГИЕ </a></li>
                                                                    <!-- END Loop -->
                    </ul>
              </div>

         <span class="input-group-btn">
        <button class="btn btn-default btn-success"><span class="glyphicon glyphicon-search"></span></button>
      </span>


            </div>
 </div>






 </div>
</div>