<ul class="proful nopaddingleft">
<li>
<img src="@routes.Assets.at("images/home/huge.jpg")" class="imgprofile">
</li>
<li>
<div class="popover-example"> <!-- NEW -->
  <div class="popover right" style="z-index:-1060;">
    <div class="arrow"></div>
    <h3 class="popover-title">Rysdaulet</h3>
  </div>
</div>
</li>
</ul>
<ul class="profmenu nopaddingleft">
	<li><a href="@routes.Manage.myAds"><span class="glyphicon glyphicon-list-alt"></span> Мои объявления</a></li>
	<li><a href="@routes.Manage.myMessages"><span class="glyphicon glyphicon-envelope"></span> Личные сообщения <span class="backjasyl">3</span></a></li>
	<li><a href="@routes.Manage.myPayments"><span class="glyphicon glyphicon-usd"></span> Личный счет</a></li>
	<li><a href="@routes.Manage.myInfo"><span class="glyphicon glyphicon-user"></span> Мой профиль</a></li>
	<li><a href="@routes.Manage.mySettings"><span class="glyphicon glyphicon-wrench"></span> Настройки</a></li>
	<li class="nav-divider"></li>
	<li><a href="@routes.Administer.ads"><span class="glyphicon glyphicon-list-alt"></span> Все объявления</a></li>
	<li><a href="@routes.Administer.users"><span class="glyphicon glyphicon-align-left"></span> Все пользователи</a></li>
	<li><a href="@routes.Administer.filters"><span class="glyphicon glyphicon-plus"></span> Добавить фильтры</a></li>
	<li><a href="@routes.Administer.advetiments"><span class="glyphicon glyphicon-plus"></span> Добавить рекламы</a></li>
	<li><a href="@routes.Application.signOut"><span class="glyphicon glyphicon-off"></span> Выйти</a></li>
</ul>