@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<ul class="proful nopaddingleft">
    <li>    @if(models.user.AuthorisedUser.findByEmail(session().get("connected")).profile.image!=null){
        <img src="data:@models.user.AuthorisedUser.findByEmail(session().get("connected")).profile.image.contentType;base64, @models.ad.Image.byteToBase64(models.user.AuthorisedUser.findByEmail(session().get("connected")).profile.image.content)" style="height:100px;width:100px;">

    }else{
  <img src="@routes.Assets.at("images/home/huge.png")" style="height:100px;width:100px;" class="imgprofile">
}</li>
<li>
<div class="popover-example"> <!-- NEW -->
  <div class="popover right" style="z-index:-1060;">
    <div class="arrow"></div>
    <h3 class="popover-title PFBSPLI-13"> @models.user.AuthorisedUser.findByEmail(session().get("connected")).userName</h3>
  </div>
</div>
</li>
</ul>
<ul class="profmenu nopaddingleft">
	
	<li><a href="@routes.Manage.myAds" class="PFBSPLI-13"><span class="icon-myAds"></span> Мои объявления</a></li>
	<li><a href="@routes.Manage.myMessages" class="PFBSPLI-13"><span class="icon-myMessages"></span> Личные сообщения <span class="backjasyl">@models.user.AuthorisedUser.getUnreadMessageCount(models.user.AuthorisedUser.findByEmail(session().get("connected")).id)</span></a></li>
	<li><a href="@routes.Manage.myPayments" class="PFBSPLI-13"><span class="icon-money"></span> Личный счет</a></li>
	<li><a href="@routes.Manage.myInfo" class="PFBSPLI-13"><span class="icon-myProfile"></span> Мой профиль</a></li>
	<li><a href="@routes.Manage.mySettings" class="PFBSPLI-13"><span class="icon-settings"></span> Настройки</a></li>
	<li class="nav-divider"></li>
	@restrict(la(as("moderator"),as("admin"))){
	<li><a href="@routes.Administer.ads" class="PFBSPLI-13"><span class="glyphicon glyphicon-list-alt"></span> Модерация объявлений</a></li>
	}
	@restrict(la(as("admin"))){
	<li><a href="@routes.Administer.moderators" class="PFBSPLI-13"><span class="glyphicon glyphicon-align-left"></span> Модераторы</a></li>
	<li><a href="@routes.Administer.filters" class="PFBSPLI-13"><span class="glyphicon glyphicon-plus"></span> Добавить фильтры</a></li>
	<li><a href="@routes.Administer.advetiments" class="PFBSPLI-13"><span class="glyphicon glyphicon-plus"></span> Добавить рекламы</a></li>
	}
	<li><a href="@routes.Application.signOut" class="PFBSPLI-13"><span class="glyphicon glyphicon-off"></span> Выйти</a></li>
</ul>