

<form class="form-horizontal topka motomoto" role="form">

	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label leftalign">Электронная
			почта</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="inputEmail3"> <span
				class="help-block"><i>На этот адрес придет уведомление об
					ответе</i></span>
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword3" class="col-sm-2 control-label leftalign">Сообщение</label>
		<div class="col-sm-4">
			<textarea class="form-control" rows="6"></textarea>
			<span class="help-block"><i>Ваш IP-адрес 2.566.14.99 будет
					сохранен вместе с комментарием</i></span>
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword3" class="col-sm-2 control-label leftalign">Введите
			код</label>
		<div class="col-sm-4">
			<img src="assets/images/captcha.png" class="imgmargin"><input
				type="text" class="form-control" id="inputEmail3"> <span
				class="help-block"><i>Хотим убедиться, что вы его не
					забудете</i></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-success">Отправить</button>

		</div>
	</div>
</form>