 @main("О нас") {
<div class="container сontain">
	<div class="searchbarmargin">@_searchbar()</div>

	<h1>О проекте</h1>

	<p>Если Вы случайно наткнулись на эту страницу, то это означает, что Вы заинтересовались нашим проектом. 
	И мы воспользовавшись таким случаем, с радостью ознакомим Вас.</p>

	<p>Целью нашего проекта по реализации продукции животноводства и сельскохозяйственных продуктов является внесение своего вклада в развитие сельского хозяйства, животноводства, упрощения процесса соглашения между продавцом и покупателем.</p>

	<p>Разместив  на данном сайте информацию о своем товаре: сельхозпродукции, скотине, технике – каждый продавец или другое заинтересованное лицо имеет возможность вывести его на продажу через него. Т.е. Вам не нужно как раньше арендовывать место на базаре, тратить ГСМ на перевозку скота, тратить нервы и наконец, драгоценное время  Вы будете иметь возможность, не выходя из дома, заполнить все данные о себе и реализуемой продукции, разместив на этом сайте.</p>
	<p>Это так же выгодно и удобно покупателю. Спросите, почему?</p>
	<p>Данный проект охватывает всю территорию Республики Казахстан: от городов до сельских округов, поэтому покупатель может выбрать себе подходящий регион, нужный товар и напрямую связаться с продавцом.</p>
	<p><b>Целесообразность проекта:</b> В связи с вышеизложенными фактами, уменьшаются расходы по реализации, что в свою очередь приводит к снижению стоимости сельскохозяйственной продукции и животных.</p>
	<br>


	<p>С наилучшими пожеланиями и надеждой на взаимное сотрудничество,</p>
	<p><b>«Қора.кz» онлайн проект по реализации продукции животноводства.</b></p>
</div>
}
