 @main("") {

<div class="container">
	<div class="searchbarmargin">@_searchbar()</div>
	<h2>Напишите нам</h2>


	<p class="topka">Здесь вы можете оставить свой отзыв о проекте или
		обратиться в службу поддержки. Мы прочитаем ваше письмо с 9:00 до
		18:00 в рабочие дни и до 17:00 в выходные.</p>

	<p>Также, в рабочее время, вы можете позвонить нам по
		многоканальному телефону +7 (727) 331-11-86.</p>

	<p>Будем благодарны за найденные ошибки и предложения о добавлении
		категорий, которых вам не хватает. Спасибо!</p>
	@_feedbackForm()
</div>
}
