@(code:String)
@main("Восстановление пароля") {
<div class="container сontain">
  <div class="searchbarmargin">@_searchbar()</div>
  <form class="form-horizontal" id="passwordForm" role="form" action="@routes.User.changePassword(code)" method="post">
    <fieldset>
    	<legend>Восстановление пароля</legend>
    	<div class="form-group">
	  	  <div class="col-md-8">
	  	    @utils._flashAlert("error","danger")
	  	    @utils._flashAlert("success","success")
      	  </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="newpassword">Новый пароль</label>
            <div class="col-md-4">
                <input class="form-control input-md placehl" name="newpassword" id="newpassword" type="password" placeholder="Укажите свой новый пароль"/>
            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="repeatpassword">Повторите пароль</label>
            <div class="col-md-4">
                <input class="form-control input-md placehl" name="repeatpassword" id="repeatpassword" type="password" placeholder="Хотим убедиться, что вы его не забудете"/>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="submit"></label>
            <div class="col-md-4">
                <button class="btn btn-success" id="submit">Изменить пароль</button>
            </div>
        </div>
    </fieldset>
  </form>
</div>

}