 @main("Правила подачи объявлений") {
 <style>
 ol.nested
{
    counter-reset: item;
}
li.nested
{
    display: block;
}
li.nested:before
{
    content: counters(item, ".") ". ";
    counter-increment: item ;
    font-weight: bold;

}
li.ptichka {
    list-style-type: none; /* Убираем маркеры у списка */
   }
li.ptichka:before{
	 content: '✔';
}
 </style>

<div class="container">
	<div class="searchbarmargin">@_searchbar()</div>

	
	<div class="col-md-12 PFBSPR-15">
	<h2>Правила подачи объявлений</h2>
	<p>Перед добавлением на сайт каждое объявление проверяется на соответствие правилам Kora.kz. Нарушение правил может привести к блокировке как объявлений, так и учетных записей их владельцев.</p>
	<ol class="nested">
		<li class="nested"><b>Общие правила</b>
		<ol class="nested">
			<li class="nested">Объявления не должны содержать информацию, запрещённую либо противоречащую законодательству Республики Казахстан.</li>
			<li class="nested">Необходимо указывать достоверную информацию в объявлении (цена, телефоны, характеристики, фотографии и пр.). </li>
			<li class="nested">Содержание объявления должно соответствовать разделу, в которую оно подаётся.</li>
			<li class="nested">Запрещено публиковать схожие по содержанию объявления, где очевидно, что речь идет об одном и том же предложении в одном городе.</li>
			<li class="nested">Запрещается дискриминация по расовым, национальным, религиозным, социальным признакам, пропаганда насилия, ненависти.</li>
			<li class="nested">За содержащуюся в объявлении информацию несёт ответственность хозяин объявления.</li>
			<li class="nested">За сделки, совершаемые пользователями, сайт ответственности не несет.</li>
			<li class="nested">Объявления, не соответствующие настоящим правилам, в любой момент могут быть удалены или откорректированы администрацией сайта без разрешения и оповещения автора объявления.</li>
		</ol>
		</li>
		<li class="nested"><b>Название и текст, прикрепленные изображения объявления</b>
		<ol class="nested">
			<li class="nested">Пишите название и описание объявления кириллицей на русском языке.</li>
			<li class="nested">Регистр как в предложениях (первая буква заглавная, остальные строчные). </li>
			<li class="nested">Транслитерация (написание русских слов латинскими буквами) запрещается. </li>
			<li class="nested">Поля формы подачи объявления необходимо заполнять соответственно их названиям.</li>
			<li class="nested">Номера телефонов необходимо указывать в формате сайта.</li>
			<li class="nested">Запрещается размещать объявления, в заголовке или в тексте которых содержатся повторяющиеся знаки пунктуации и/или небуквенные символы.</li>
			<li class="nested">Размер изображения не менее 400×300 пикселей.</li>
			<li class="nested">Изображения должны быть формата JPEG, PNG.</li>
			<li class="nested">В изображении не должно содержаться:
				<ul>
					<li class="ptichka">контактной информации (номера телефонов, e-mail, Skype и т. п.);</li>
					<li class="ptichka">информации о кредитах и рассрочках;</li>
					<li class="ptichka">названий и адресов сайтов;</li>
					<li class="ptichka">людей;</li>
					<li class="ptichka">государственной символики;</li>
					<li class="ptichka">фрагментов эротического содержания;</li>
				</ul>
			</li>
		</ol>
		<li class="nested"><b>Запрещается копирование изображений, принадлежащих другим пользователям сайта</b></li>
		<li class="nested"><b>Цены</b>
		<ol class="nested">
			<li class="nested">Указывайте только ту цену, по которой предлагаете.</li>
			<li class="nested">Устанавливайте разумную цену — такие объявления работают эффективнее.</li>
			<li class="nested">Не пишите цену в названии объявления — для этого есть отдельное поле.</li>

		</ol>
		</li>
		<li class="nested"><b>Контактная информация.</b>
		<ol class="nested">
			<li class="nested">Имя, указанное в объявлении, должно соответствовать действительности.</li>
			<li class="nested">Не указывайте номер телефона, электронный адрес или другие контактные данные третьего лица.</li>
		</ol>
	</ol> 
	<p class="PFBSPLI-15" style="color:red">*Торговая площадка оставляет за собой право на дополнение и обновление существующих правил.</p>
	
	</div>
</div>
}
